@import '../variable.css';


.extension-header {
    width: 100%;
    align-items: center;
    margin: 0 0 0 0;
    position: fixed;  /* Fixes the header at the top */
    top: 0;           /* Aligns the header to the top of the viewport */
    left: 0;          /* Aligns the header to the left of the viewport */
    background-color: #fff; /* Optional, for background color */
    z-index: 10;    /* Optional, makes sure the header stays above other content */
    box-shadow: 0 2px 5px var(--shadow-color); /* Optional, for a subtle shadow */
    padding: 10px 0px;
}

.extension-header * {
    display: inline-flex;
    font-weight: lighter;
}

.extension-header h1 {
    margin: 0;
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: .5px;
}

.extension-header button {
    background: none;
    border: none;
    width: fit-content;
    font-size: 20px;
    margin-left: 70px;
    height: 32px;
    width: 32px;
    color: black;
    padding-left: 5px;
}

.extension-header button:hover{
    cursor: pointer;
    color: var(--accent-color);
}