@import '../variable.css';

#root {
  width: 300px;
  height: 400px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]:focus {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline */
}

.delete-button {
    color: var(--delete-color);
}
  
.spinner-loader {
    border: 4px solid var(--secondary-background);
    border-left-color: var(--accent-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }