#user-notif-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    height: 55px;
    padding: 10px 15px;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    margin-left: 10px;
    font-weight: 500;
    position: fixed;
    bottom: 75px;
    opacity: 80%;
}

.user-notif-success-background {
    background-color: aquamarine;
    color: green;
}

.user-notif-error-background {
    background-color: rgb(255, 61, 61);
    color: rgb(215, 0, 0);
}

.user-notif-shift-up {
    bottom: 140px !important;
}

.visible {
    animation: makeVisible 0.5s forwards;
}

.not-visible {
    animation: makeInvisible 0.5s forwards;
}

@keyframes makeVisible {
    from {opacity: 0; }
    to { opacity: 80%; }
}

@keyframes makeInvisible {
    from { opacity: 80%; }
    to { opacity: 0; }
}

#user-notif-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: 500;
}

.user-notif-success-border {
    border: 3px solid green;
}

.user-notif-error-border {
    border: 3px solid red;
}