.checkbox {
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
}

.checkbox:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 4px; 
}

.checkbox input[type="checkbox"] {
    appearance: none; 
    -webkit-appearance: none;
    width: 16px; 
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    display: inline-block;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.checkbox input[type="checkbox"]:hover {
    border-color: #888;
}

.checkbox input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.checkbox input[type="checkbox"]:checked::after {
    font-size: 12px; 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkmark {
    margin-left: 4px;
}