@import "tailwindcss";

#root {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.shadow-bottom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.shadow-top {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1)
}