@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "./checkbox.css";
@import "./loading.css";

:root { 
  --background-color: hsl(0,0,95%,100%);
  --input-color: #eaeaea;
  --secondary-background: hsl(0, 0%, 95%);
  --secondary-background-hover: #bfbfbf;
  --accent-color: hsl(42,95%,66%,100%);
  --hover-color: rgb(236, 236, 236);
  --text-color: white; 
  --shadow-color: rgba(0, 0, 0, 25%);  
  --delete-color: rgb(238, 76, 76);  
}

@layer base {
  #root {
    font-family: 'Inter', sans-serif;
  }
}

#root {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.shadow-bottom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.shadow-top {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1)
}

.slide-in-add-file {
  animation: slideInAddFile 0.5s forwards;
}

.slide-out-add-file {
  animation: slideOutAddFile 0.5s forwards;
}

@keyframes slideInAddFile {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1;}
}

@keyframes slideOutAddFile {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(100%); opacity: 0; }
}

.rotate-open-cart {
  transform: rotate(90deg); 
}

