@import '../variable.css';

.expand-section-expanded-display {
    justify-items: center;
    justify-content: center;
    margin-top: 5px;
}

.shopping-item-container {
    background-color: var(--seconday-background);
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    height: 100px;
    width: 250px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: flex;
    /*box-shadow: 0 4px 6px var(--shadow-color); /* Optional, for a subtle shadow */
    color: black;
}

.shopping-item-image-container {
    display: flex;
    height: 80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.shopping-item-image-container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.shopping-item-information-container {
    margin-left: 10px;
    width: 145px;
    height: 80px;
}

.shopping-item-information-container h4 {
    margin: 0;
}

.shopping-item-header {
    display: inline-flex;
    align-items: center;
    width: 142px;
}

.shopping-item-header button {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.shopping-item-header button:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

.shopping-item-header-text {
    width: 200px;
}

.shopping-item-price {
    font-weight: 400;
}
.shopping-item-name {
    font-weight: 600;
}

.shopping-item-notes {
    background-color: #eaeaea;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    padding: 2px;
    border: none;
    outline: none;
    display: flex;
    text-align: initial;
    font-size: 12px;
}