#add-item-section {
    width: 270px;
    height: fit-content;
    justify-items: center;
    background-color: var(--secondary-background);
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 4px 6px var(--shadow-color); /* Optional, for a subtle shadow */
    color: black;
    overflow: hidden;
    display: block;
    position: fixed;
    transform: translateY(0%);
    display: block;
    bottom: 75px;
    opacity: 1;
    margin-left: 10px;
}

#add-item-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    align-items: center;
}

#add-item-close {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#add-item-close:hover {
    cursor: pointer;
    font-weight: bold;
}

#add-item-title {
    font-weight: 500;
    font-size: 14px;
    width: 235px;
}

.add-item-container {
    border-radius: 10px;
    height: 100px;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: flex;
    /*box-shadow: 0 4px 6px var(--shadow-color); /* Optional, for a subtle shadow */
    color: black;
}

.add-item-image-container {
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
}

.add-item-image-container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.add-item-information-container {
    margin-left: 10px;
    width: 160px;
    height: fit-content;
    overflow: hidden;
}

.add-item-information-container h4 {
    margin: 0;
}

.add-item-price {
    font-weight: 400;
    width: 135px;
}

.add-item-loading {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #bcbcbc;
    animation: loading-animation 2s infinite ease-in-out;
}

.add-item-loading-price {
    width: 70px !important;
}

.add-image-loading {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    background-color: #bcbcbc;
    animation: loading-animation 2s infinite ease-in-out;
}

@keyframes loading-animation {
0% {
    left: -20%;
    background-color: #bcbcbc;
}
50% {
    left: 100%;
    background-color: #eaeaea;
}
100% {
    left: -20%;
    background-color: #bcbcbc;
}
}

.add-item-name {
    font-weight: 600;
    width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}

#add-item-notes {
    background-color: #eaeaea;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    box-sizing: border-box;
    border-style: none;
    font-size: 12px;
    text-wrap: wrap;
    resize: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add-item-notes:focus {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline */
    box-shadow: none;
}

#add-item-notes::-webkit-scrollbar {
    width: 5px;
}

#add-item-select-folder {
    background-color: #eaeaea;
    border-style: none;
    width: 150px;
    color: black;
    padding: 5px;
    border-radius: 4px;
    height: 26px;
    margin-right: 10px;
}

#add-item-select-folder:focus {
    border: none; /* Remove the border */
    outline: none; /* Remove the outline */
    box-shadow: none;
}

.add-item-organization-container {
    align-items: center;
    margin-top: 5px;
    display: flex;
}

.add-item-organization-containter * {
    display: flex;
}

#add-item {
    background-color: var(--accent-color);
    border-style: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 26px;
    width: 60px;
}

#add-item:hover {
    cursor: pointer;
}

#add-item:active {
    border: none;
    outline: none;
}

.processing-add-item {
    margin-top: 70px;
}

@keyframes slideIn {
    from { 
        transform: translateY(100%);
        opacity: 0; 
    }
    to { 
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes slideOut {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100%); opacity: 0; }
}

.slide-in-add-item {
    animation: slideIn 0.5s forwards;
}

.slide-out-add-item {
    animation: slideOut 0.5s forwards;
}

