@import '../variable.css';

#sign-in-page {
    background-color: white;
    height: 340px;
    width: 300px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -340px;
    left: 50%;
    transform: translateX(-50%);
}

.sign-in-page-home {
    transform: translate(-50%, 100%) !important;
}

#sign-in-page input {
    margin-bottom: 5px;
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
    border-style: none;
    background-color: #eaeaea;
    border-radius: 10px;
    font-size: 12px;
}

#sign-in-page input:focus {
    outline: none;
    border: none;
}

#sign-in-page button {
    width: 200px;
    padding:  8px 4px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1.5px solid var(--accent-color) !important;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
}

#sign-in-page button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

#sign-in-page button:focus {
    outline: none;
}

#submit-sign-in {
    margin-top: 20px;
}

.sign-up-question {
    margin: 6px 0 2px 0;
}

#sign-up-button {
    font-weight: 500;
    margin: 6px 0 2px 4px;
}

#sign-up-button:hover {
    cursor: pointer;
}

#sign-in-intro-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    align-items: center;
    font-size: 14px;
}

#sign-in-intro-container > h1 {
    margin: 0 0 5px 0;
}

#sign-in-sub-heading {
    margin: 0 0 50px 0;
    font-style: italic;
}

.alt-button {
    margin-top: 10px;
}