@import '../variable.css';

#organization-section{ 
    padding: 10px 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 320px;
    margin-top: 55.5px;
    position: relative;
}

.expand-section-main-display {
    background-color: var(--secondary-background);
    color: black;
    width: 100%;
    border-radius: 10px;
    transition: height 0.5s;
    height: 45px;
    width: 270px;
    overflow: hidden;
    box-shadow: 0 4px 4px var(--shadow-color); /* Optional, for a subtle shadow */
    margin: 0px 5px 10px 10px;
}

.expand-section {
    overflow: visible;
}

.expand-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expand-section-content > * {
    display: inline-flex;
    font-size: 14px;
    margin: 0 auto;
    padding: .5em 0;
    font-weight: 400;
    color: black;
}

.expand-section-button { 
    padding: 5%;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    margin-right: 5px;
    transition: transform .5s; 
}

.organization-section-empty {
    text-align: center;
    margin-top: 120px;
}

.organization-section-empty p { 
    margin: 0;
}

.rotate {
  transform: rotate(90deg); 
}

.expand-section-button:hover {
    cursor: pointer;
}

.expand-section-title {
    width: 140px;
    user-select: none;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
}

.expand-section-items {
    width: 32px;
    background-color: var(--accent-color);
    justify-content: center;
    height: 27px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 7px;
    line-height: 12px;
}

.expand-section-modify { 
    margin: 0 5px 0 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    border: none;
}

.expand-section-modify:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.disabled-hover-modify:hover {
    cursor: default !important;
    background-color: transparent !important;
}

.modify-disable:hover {
    cursor: default;
    background-color: var(--accent-color) !important;
}

.expand-section-title-input {
    width: 140px;
    display: inline-flex;
    font-size: 14px;
    margin: 0 auto;
    padding: .5em 0;
    box-sizing: border-box;
    font-weight: 400;
    color: black;
    border-radius: 5px;
    border: none;
}
 
/*
::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

*/