@import '../variable.css';

#add-file-section { 
    position: fixed;
    margin-top: -95px;
    background-color: #242424;
    color: var(--text-color);
    width: 242px;
    height: 35px;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-left: -2px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
    border-radius: 10px;
}

#file-title {
    width: 80%;
    border: none;
    border-radius: 25px;
    padding: 7px 0 7px 10px;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
    background-color: #292929;
    color: white;
}

#file-title:active {
    transform: translateY(1px);  /* Move the button down to simulate pressing */
}

#submit-file {
    background: none;
    border: none;
    color: white;
    padding: 3px 5px;
    border-radius: 12px;
    height: 27px;
    width: 32px;
    background-color: #292929;
    font-size: 10px;
    margin-left: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
}

#submit-file:hover {
    cursor: pointer;
}

#submit-file:active {
    transform: translateY(1px);  /* Move the button down to simulate pressing */
}

@keyframes expandCenter {
    from {
        opacity: 0;
        transform: scaleX(0); /* Start at the center with zero width */
    }
    to {
        opacity: 1;
        transform: scaleX(1); /* Expand to full width */
    }
}

@keyframes slideIn {
    from { 
        transform: translateY(100%);
        opacity: 0; 
    }
    to { 
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes slideOut {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100%); opacity: 0; }
}

.slide-in {
    animation: slideIn 0.5s ease-out;
}

.slide-out {
    animation: slideOut 0.5s ease-out;
}
  