#edit-popup-section {
    position: fixed;
    background-color: var(--secondary-background);
    color: var(--text-color);
    width: 250px;
    height: 35px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional, for a subtle shadow */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease-in;
    z-index: 1000;
    top: 185px;
    height: fit-content;
    border-radius: 5px;
}

#edit-popup-section input {
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0px 5px 10px;
    margin-bottom: 10px;
}

#confirm-edit-popup {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    height: 25px;
}

#close-edit-popup {
    margin-left: 106px;
    background-color: var(--delete-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    height: 25px;
    width: 25px;
    align-items: center;
    vertical-align: center;
}