@import '../variable.css';

.extension-footer { 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    align-items: center;  
    position: fixed;
    bottom: 0;
    left: 0;          /* Aligns the header to the left of the viewport */
    width: 100%;      /* Ensures the header spans the full width */
    background-color: #fff; /* Optional, for background color */
    z-index: 1000;    /* Optional, makes sure the header stays above other content */
    box-shadow: 0 -2px 5px var(--shadow-color); /* Optional, for a subtle shadow */
    align-items: center;
}

.extension-footer button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border:none;
    background-color: var(--shadow-color);
    box-shadow: 2px 0 5px var(--shadow-color); /* Optional, for a subtle shadow */
    margin: 0 35px;
}

.extension-footer button:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.extension-footer button:active{
    transform: translateY(1px);  /* Move the button down to simulate pressing */
}